description "accumulo tablet server"

start on stopped rc RUNLEVEL=[2345]
respawn
setuid {{ accumulo_user }}
chdir {{ accumulo_user_dir }}

exec /usr/bin/accumulo tserver >>{{ accumulo_log_dir }}/logs/tserver.out 2>>{{ accumulo_log_dir }}/logs/tserver.err
