description "accumulo {{item.name}}"

start on stopped rc RUNLEVEL=[2345]
respawn
setuid {{ accumulo_user }}
chdir {{ accumulo_user_dir }}

exec /usr/bin/accumulo {{item.name}} {{item.args|default('')}} >>{{ accumulo_log_dir }}/logs/{{item.name}}.out 2>>{{ accumulo_log_dir }}/logs/{{item.name}}.err
